* {

    margin: 0;
    padding: 0;
    font-weight: normal;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1;
    scrollbar-width: none;

}

button {

    border: 0;
    outline: 0;

}